:root {
  --code-color-1: #e2e2e2;
  --code-color-2: #e2e2e2;
  --code-color-3: #ef0b21;
  --code-color-4: #F0A0A0;
  --code-color-5: #4a4aff;
  --code-color-6: #2ded4d;
  --code-color-7: #d41e1e;
  --code-color-8: #2b2be7;
  --code-color-9: #2ed32e;
  --code-color-10: #888888;
  --code-color-11: #555555;
  --code-color-12: #d417d4;
  --code-color-13: #00aaaa;
  --code-color-14: #009999;
  --code-color-15: #;
  --code-color-16: #1e90ff;
  --code-color-17: #b41f1f;
  --code-color-18: #bbbbbb;
}

.lineno { color: var(--code-color-1); margin-right: 15px; }
.highlight .hll { background-color: var(--code-color-2); }
.highlight .c { color: var(--code-color-1); font-style: italic } /* Comment */
.highlight .err { color: var(--code-color-3); background-color: var(--code-color-4); } /* Error */
.highlight .k { color: var(--code-color-5); } /* Keyword */
.highlight .cm { color: var(--code-color-11); font-style: italic } /* Comment.Multiline */
.highlight .cp { color: var(--code-color-9); } /* Comment.Preproc */
.highlight .c1 { color: var(--code-color-11); font-style: italic } /* Comment.Single */
.highlight .cs { color: var(--code-color-11); font-style: italic } /* Comment.Special */
.highlight .gd { color: var(--code-color-7); } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: var(--code-color-7); } /* Generic.Error */
.highlight .gh { color: var(--code-color-8); font-weight: bold } /* Generic.Heading */
.highlight .gi { color: var(--code-color-9); } /* Generic.Inserted */
.highlight .go { color: var(--code-color-10); } /* Generic.Output */
.highlight .gp { color: var(--code-color-11); } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: var(--code-color-12); font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: var(--code-color-7); } /* Generic.Traceback */
.highlight .kc { color: var(--code-color-5); } /* Keyword.Constant */
.highlight .kd { color: var(--code-color-5); } /* Keyword.Declaration */
.highlight .kn { color: var(--code-color-5); } /* Keyword.Namespace */
.highlight .kp { color: var(--code-color-5); } /* Keyword.Pseudo */
.highlight .kr { color: var(--code-color-5); } /* Keyword.Reserved */
.highlight .kt { color: var(--code-color-13); } /* Keyword.Type */
.highlight .m { color: var(--code-color-14); } /* Literal.Number */
.highlight .s { color: var(--code-color-15); } /* Literal.String */
.highlight .na { color: var(--code-color-16); } /* Name.Attribute */
.highlight .nb { color: var(--code-color-13); } /* Name.Builtin */
.highlight .nc { color: var(--code-color-9); text-decoration: underline } /* Name.Class */
.highlight .no { color: var(--code-color-7); } /* Name.Constant */
.highlight .nd { color: var(--code-color-10); } /* Name.Decorator */
.highlight .ni { color: var(--code-color-17); font-weight: bold } /* Name.Entity */
.highlight .nf { color: var(--code-color-9); } /* Name.Function */
.highlight .nn { color: var(--code-color-13); text-decoration: underline } /* Name.Namespace */
.highlight .nt { color: var(--code-color-16); font-weight: bold } /* Name.Tag */
.highlight .nv { color: var(--code-color-7); } /* Name.Variable */
.highlight .ow { color: var(--code-color-5); } /* Operator.Word */
.highlight .w { color: var(--code-color-18); } /* Text.Whitespace */
.highlight .mf { color: var(--code-color-14); } /* Literal.Number.Float */
.highlight .mh { color: var(--code-color-14); } /* Literal.Number.Hex */
.highlight .mi { color: var(--code-color-14); } /* Literal.Number.Integer */
.highlight .mo { color: var(--code-color-14); } /* Literal.Number.Oct */
.highlight .sb { color: var(--code-color-15); } /* Literal.String.Backtick */
.highlight .sc { color: var(--code-color-15); } /* Literal.String.Char */
.highlight .sd { color: var(--code-color-15); } /* Literal.String.Doc */
.highlight .s2 { color: var(--code-color-15); } /* Literal.String.Double */
.highlight .se { color: var(--code-color-15); } /* Literal.String.Escape */
.highlight .sh { color: var(--code-color-15); } /* Literal.String.Heredoc */
.highlight .si { color: var(--code-color-15); } /* Literal.String.Interpol */
.highlight .sx { color: var(--code-color-15); } /* Literal.String.Other */
.highlight .sr { color: var(--code-color-14); } /* Literal.String.Regex */
.highlight .s1 { color: var(--code-color-15); } /* Literal.String.Single */
.highlight .ss { color: var(--code-color-5); } /* Literal.String.Symbol */
.highlight .bp { color: var(--code-color-13); } /* Name.Builtin.Pseudo */
.highlight .vc { color: var(--code-color-7); } /* Name.Variable.Class */
.highlight .vg { color: var(--code-color-7); } /* Name.Variable.Global */
.highlight .vi { color: var(--code-color-7); } /* Name.Variable.Instance */
.highlight .il { color: var(--code-color-14); } /* Literal.Number.Integer.Long */
